h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
body {
    background-color: lightslategray;
}

p {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  
  